body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: rgb(36, 36, 36);
  font-family: 'Barlow', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#tape-deck-container {
  background-image: url('../public/images/cassette-bg-darker.png');
  background-color: darkslategrey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  height: 100vh;;
  
}

/* STYLING FOR THE NAV SECTION ON EACH INDIVIDUAL PAGE */

#nav-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

#nav-top-img {
  max-width: 80vw;
  position: relative;
  top: 0;
  left: 0;
}

#nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90.3%;
  height: 47%;
  position: absolute;
  top: 46%;
  left: 5%;
}

.nav-link {
  display: flex;
  height: 100%;
  width: 33%;
}

.nav-link-left {
  justify-content: flex-start;
  align-items: center;
  /* max-width: 33%; */
}

.nav-link-right {
  justify-content: flex-end;
  align-items: center;
  /* max-width: 33%; */
}

.nav-button-img {
  display: flex;
  max-height: 50%;
  width: 40%;
  z-index: 99;
}

.nav-button-img-left {
  max-height: 50%;
}

.nav-button-img-right {
  max-height: 50%;
}

.left {
  padding-left: 10px;
}

.right {
  padding-right: 10px;
  justify-content: flex-end;
}

a {
  height: 100%;
}

.nav-logo {
  display: flex;
  align-items: center;
  height: 100%;
  width: 30%;
}

#logo {
  max-height: 100%;
}

#logout {
  cursor: pointer;
}

/* STYLING FOR THE CONTENT SECTION ON EACH PAGE */

#content-container {
  display: flex;
  position: relative;
  top: 0;
  left: 0;
}

#content-bottom-img {
  max-width: 80vw;
  position: relative;
  top: 0;
  left: 0;
}

#main-content {
  display: flex;
  justify-content: space-between;
  width: 90.3%;
  height: 80%;
  position: absolute;
  top: 3%;
  left: 5%;
}

#logged-in-user {
  position: absolute;
  background-color: rgb(156, 156, 156);
  border-radius: 15px;
  padding: 0 1%;
  height: 6.25%;
  bottom: 4%;
  right: 4%;
  color: black;
  opacity: .5;
  overflow-y: scroll;
}

/* STYLING FOR HOME PAGE */

#home-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

#home-img {
  width: 100%;
}

/* STYLING FOR SEARCH PAGE */

.search-div {
  height: 100%;
  width: 29%;
}

/* SEARCH DIV 1 (LEFT SIDE) */

#search-div-1 {
  width: 10.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#vol-knob-img {
  max-width: 70%;
}

#switch-div {
  display: flex;
  justify-content: space-around;
}

.switch-img {
  max-width: 15%;    
}

#input-jacks {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
  width: 100%;
  margin-bottom: 8%;
}

.input-jack-img {
  width: 35%;
}

/* SEARCH DIV 2 (Tape/Controls) */

#search-div-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#tape-deck-img {
  max-width: 100%;
}

#success-box {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 99%;
}

#success-text {
  color: green;
}

#playback-controls {
  display: flex;
  justify-content: space-around;
  max-width: 100%;
  margin-bottom: 3%;
  background-color: rgb(124, 124, 124);
}

.playback-control-button {
  width: 19%;
  cursor: pointer;
}

.control-zoom {
  transition: transform .1s;
}

.control-zoom:hover {
  transform: scale(1.04);
}

/*  SEARCH DIV 3 (ALBUM ARTWORK)*/

#search-div-3 {
  width: 25%
}

#album-artwork {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}

#artwork-img {
  max-height: 95%;
  border: 4px black solid;
  border-radius: 5px;
}

/* SEARCH DIV 4 (VU METER/SONG INFO */

#search-div-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#vu-meter-img {
  width: 99%;
  border: 4px black solid;
  border-radius: 5px;
}

#song-info {
  width: 96%;
  text-align: left;
  margin-top: 3%;
  overflow-x: scroll;
}

.textarea {
  height: 10%;
}

#format-span {
  text-transform: capitalize;
}

/* STYLING FOR SONGS PAGE */

.track-card-item {
  display: flex;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: flex-start;
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
} 

.track-card-img {
  padding: 5px;
  max-height: 100%;
  width: 25%;
  display: flex;
  position: relative;
}

.track-card-artwork {
  padding: 5px;
}

.artwork-overlay {
  width: 100%;
  height: 100%;
  padding: 5px;
  opacity: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  transition: 3s;
  transition-delay: 0.5s;
}

.artwork-overlay:hover {
  opacity: 1;
}

.card-button {
  height: 15%;
  width: 25%;
  border-radius: 10px;
  background-color: rgb(77, 77, 77);
  color: white;
}

.card-button > a {
  text-decoration: none;
  color: white;
}

.card-button:hover {
  background-color: red;
}

.zoom {
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.03);
}

/* STYLING FOR LOGIN AND SIGNUP PAGE */

#login-tape {
  display: flex;
  width: 50%;
  justify-content: flex-end;
  padding-right: 3%;
}

#login {
  display: flex;
  flex-direction: column;
  width: 50%;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  height: 85%;
  padding-left: 7%;
  padding-top: 3%;
}

#email {
  width: 75%;  
  border: solid black 3px;
}

#password {
  width: 75%;
  border: solid black 3px;
}

#confirmpassword {
  width: 75%;
  border: solid black 3px;
}

#login-button {
  background-color: rgba(106,132,183,254);
  width: 75%;
  color: white;
  border: black solid 3px;
}

#signup-button {
  background-color: rgba(26,179,110,255);
  width: 75%;
  color: white;
  border: black solid 3px;
}

#error {
  height: 15%;
  padding-left: 7%;
  padding-bottom: 3%;
  color: red;
}

/* STYLING FOR FAQ PAGE */

#questions {
  overflow-y: scroll;
}